.tweet {
  background: #FFF;
  padding: 10px;
  margin-bottom: 2px;
  &.index {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  div, a {
    vertical-align: top;
    display: inline-block;
  }
  .userpic {
    width: 55px;
    height: 55px;
    margin-right: 5px;
    &.blank {
      height: auto;
      display: inline-block
    }
  }
  .username {
    width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .content {
    padding: 0;
    position: absolute;
    left: 235px;
    right: 205px;
  }
  .date {
    position: absolute;
    right: 95px;
    width: 100px;
    cursor: default;
    &:hover {
      &:after {
        display: block;
      }
    }
  }
  .date.showEnglishDate:hover::after {
    display: block;
  }
  .date.showEnglishDate::after {
    display: none;
    position: absolute;
    top: 102%;
    left: 0;
    content: attr(data-english-date);
    padding: 3px;
    border: 1px solid;
    background: #1d67a7;
    color: #FFF;
    border-radius: 5px;
  }
  .actions {
    position: absolute;
    right: 10px;
    text-align: right;
  }
  label {
    display: block;
  }
  input[type=checkbox] {
    visibility: hidden;
  }
  .followSpan:before {
    position: absolute;
    content: "";
    right: 105%;
    width: 14px;
    height: 14px;
    border: 1px solid #666;
  }
  .followSpan.checked:before {
    background: #7AC143 url(../images/check.png);
    border: 0px;
  }
  &:hover .remove {
    display: block;
  }
  .remove {
    display: none;
    margin-top: 15px;
    border-radius: 3px;
    padding: 3px;
    background-color: #999;
    text-align: center;
    color: #FFF;
    width: 80%;
    float: right;
    cursor: pointer; 
  }
  .sortable {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
  }
  .sorted.date:after {
    left: 33px;
  }
  .sorted.username:after {
    left: 40px;
  }
  .sorted.desc:after {
    position: absolute;
    content: "";
    top: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 9px 6px;
    border-color: transparent transparent #000 transparent;  
  }
  .sorted.asc:after {
    position: absolute;
    content: "";
    top: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 6px 0 6px;
    border-color: #000 transparent transparent transparent;
  }
  &.showConfirm .confirmRemove {
    display: block;
  }
  .confirmRemove {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(9,9,9,.8);
    padding: 25px 25px 25px 75px;
    color: #FFF;
    text-shadow: 1px 1px #000;
    font-size: 22px;
    font-weight: bold;
    .removeIt {
      margin-left: 20px;
      border-radius: 10px;
      padding: 5px 40px;
      font-weight: normal;
      font-size: 18px;
      text-shadow: none;
      background-color: #D8000C;;
      color: #FFF;
      cursor: pointer; 
   }
    .cancel {
      margin-left: 20px;
      font-weight: normal;
      font-size: 14px;
      text-shadow: none;
      line-height: 27px;
      text-decoration: underline;
      cursor:pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.tweetsFooter {
  width: 100%;
  height: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #FFF;
}